/* google fonts appear here */
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

/* body{
    background-color: var(--dark-primary-color);
} */
/* root element */
:root{
    --dark-primary-color:#000;
    --light-secondary-color:#01C38D;
}

/* header section appears here */
.header-section{
    background-color: var(--dark-primary-color);
    display:flex;
    justify-content: space-around;
    padding:10px;
    align-items: center;
}
.header-section-logo{
    color:white;
    /* padding: 10px; */
    font-weight: 900 bolder;
    text-align:center;
    margin:20px 0 20px 0;
    /* margin-left:50px; */
}
.header-section-logo span{
    color:var(--light-secondary-color);
}

.header-section-menu ul  {
    margin:20px 0 20px 0;
    list-style: none;
    display:flex;
    justify-content: center;

}
.header-section-menu ul li{
    background-color: var(--dark-primary-color);
    /* border: 3px solid var(--light-secondary-color); */
    padding:10px;

}
.header-section-menu ul li>a{
    text-decoration: none;
    
    color:white;
    font-weight: 700;
    margin: 20px 30px;
    
}
.header-section-menu ul li:hover{
    background-color:var(--light-secondary-color);

}
.header-section-menu a:hover{
    color:white;
}
.header-section-button>.button-primary{
    margin:20px 0 20px 0;
    padding: 10px;
    font-weight:700;
}
.header-section-button>.button-primary:hover{
    color:white;
}

/* home-section appears here */
.home-section{
    background-color: var(--dark-primary-color);
    opacity:0.95;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height:500px;
    

}
/* img{

    border:3px solid var(--light-secondary-color);
    border-radius: 30px;
    margin-right: 50px;

} */
.home-section-text h3,h2,p{
    margin-top:10px;
    text-align: center;
    
}
.home-section-text h2>span{
    color:var(--light-secondary-color);
}
.home-section-text p>a{
    text-decoration:none;
    color:white;
}

.home-section-icons{
    text-align:center;
}
.home-section-icons i{
    margin-right:10px;
    color: var(--light-secondary-color);
}
.home-section-icons i:hover{
    color:white;
    cursor: pointer;
}

.home-section-buttons{
    display: flex;
    justify-content: center;
    margin:20px 0;
    font-weight: 500;
    text-align: center;
}
.button-primary,.button-secondary{
    border:3px solid var(--light-secondary-color);
    background-color: var(--dark-primary-color);
    color:white;
    padding:10px;
    margin-right:20px;
}

.button-primary:hover{
    cursor:pointer;
    background-color: var(--light-secondary-color);
    color:var(--dark-primary-color);
}
.second-button a button i , .first-button a button i{
    margin-right:10px;
}


.button-secondary:hover{
    cursor:pointer;
    background-color: var(--light-secondary-color);
    color:var(--dark-primary-color);
}
/* about section appears here */
.about-section{
    background-color: var(--dark-primary-color);
    /* margin:20px 0px; */
    display: flex;
    justify-content:center;
    align-items: center;
    height: 500px;
    
}
.about-section-profile{
    margin:40px 0px;
    flex:0.3;
}
.about-section-text{
    /* margin:40px 0px; */
    color:white;
    text-align:start;

    /* padding:0px;
    flex:0.7; */
}
.about-section-text hr{
    height:3px;
    width:100px;
    background-color: var(--light-secondary-color);
    border:none;
}
.about-section-content-list-items a{
    text-decoration:none;
    color:white;
}
.about-section-content ul li{
    /* margin:10px 20px; */
    list-style: none;
}

.about-section-content span{
    color:var(--light-secondary-color);
    font-weight: bold;
}

/* skill section appears here */
.skill-section {
    background-color: var(--dark-primary-color);
    opacity:0.95;
    height:400px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-section-heading{
    margin-bottom:20px;
    text-align: center;
    color:white;
    font-weight:bolder;
}
.skill-section-images{
    display: flex;
}
.skill-section-images img{
    width:150px;
    height:150px;
    margin-top:40px;
    margin-bottom: 40px;
    margin-right:50px;
    margin-left:50px;
    border:3px solid var(--light-secondary-color);
    padding:10px;
    
}
.skill-section-images img:hover{
    cursor:pointer;
}
/* contact section appears here */
.contact-section{
    background-color: var(--dark-primary-color);
    padding-bottom: 30px;
}
.contact-section h1{
    color:white;
    font-weight: bolder;
    padding: 20px;
    text-align:center;
} 

form div{
    display: flex;
    justify-content: center;
    margin:8px;
}
form div input,textarea{
    border:none;
    outline:none;
    padding:10px;
    width:500px;
    border-radius: 10px;
    background-color: var(--light-secondary-color);
    font-weight: bolder;
}
.contact-section-form{
    margin-bottom:30px;

}
.contact-section-button{
    text-align:center;

}
.contact-section-form form div >textarea:hover{
    background-color: white;

}
.contact-section-form form div>input:hover{
    background-color: white;
}

/* footer section appears here */
footer{
    background-color: var(--dark-primary-color);
    opacity:0.95;
    height: 80px;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}
footer h4>a{
    margin-top:20px;
    text-decoration: none;
}
footer span{
    color:var(--light-secondary-color);
    font-weight: 700;
}

/* media queries */
@media screen and (max-width:600px){
    .header-section{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .header-section-logo{
        margin-bottom: 10px;
    }
    .header-section-menu ul li{
        padding:5px;

    }
    .header-section-button{
        margin-top: 10px;
        text-align: center;
    }
    .home-section{
        padding:0 10px;
    }
    .about-section{
        flex-direction: column;
    }
    .about-section-profile{
        margin-left:50px;

    }
    .about-section-text{
        margin:20px 20px 0 0px;
        padding:10px;

        
    }
    .about-section-address a{
        display: flex;
        text-decoration: none;
    }
    .skill-section{
        margin-left:30px;
    }
    .contact-section-outer-box{
        width:100%;
        padding:10px;
        margin-left:20px;
        margin-right:10px;
    }
}