
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    background-color: var(--dark-primary-color);
}
/* root element */
:root {
    --dark-primary-color: #000;
    --light-secondary-color: #282890;
}

/* header section appears here */
.header-section {
    background-color: var(--dark-primary-color);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

.header-section-logo>a {
    text-decoration: none;
    color: white;
    
}

.header-section-logo {
    color: white;
    /* padding: 10px; */
    font-weight: 700 ;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin: 20px 0 20px 0; */
    /* margin-left:50px; */
}

.header-section-logo span {
    color: var(--light-secondary-color);
}

.header-section-menu ul {
    margin: 20px 0 20px 0;
    list-style: none;
    display: flex;
    justify-content: center;

}

.header-section-menu ul li {
    background-color: var(--dark-primary-color);
    /* border: 3px solid var(--light-secondary-color); */
   

}

.header-section-menu ul li>a {
    text-decoration: none;
    padding: 10px;
    color: gray;
    font-weight: 700;
    margin: 20px 30px;

}


.header-section-menu a {
    position: relative;
  }
  
  .header-section-menu a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #df1616;
    transition: width 0.3s ease;
  }
  
  .header-section-menu a:hover::before {
    width: 100%;
  }
  



.header-section-button-primary{
    background-color: var(--light-secondary-color);
    border: none;
    color: var(--dark-primary-color);
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;

}
.header-section-button-primary:hover{
    cursor: pointer;
    color:white;
}


/* home-section appears here */
.home-section {
    background-color: var(--dark-primary-color);
    opacity: 0.95;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;


}

/* img{

    border:3px solid var(--light-secondary-color);
    border-radius: 30px;
    margin-right: 50px;

} */
.home-section-text h3,
h2,
p {
    margin-top: 10px;
    text-align: center;

}
.home-section-text p{
    color:gray;
}

.home-section-text h2>span {
    color: var(--light-secondary-color);
}

.home-section-text p>a {
    text-decoration: none;
    color: gray;
}

.home-section-text p>a:hover {
    color: gray;
    font-weight: bold;
}

.home-section-icons {
    text-align: center;
}

.home-section-icons i {
    margin-right: 10px;
    color: gray;
}

.home-section-icons i:hover {
    color: white;
    cursor: pointer;
}

.home-section-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-weight: 500;
    text-align: center;
}

.button-primary,
.button-secondary {
    /* border: 3px solid var(--light-secondary-color); */
    background-color: var(--light-secondary-color);
    border: none;
    border-radius: 10px;
    color: var(--dark-primary-color);
    padding: 10px;
    margin-right: 20px;
}

.button-primary:hover {
    cursor: pointer;
    background-color: var(--light-secondary-color);
    opacity: 0.8;
    color: white;
}

.second-button a button i,
.first-button a button i {
    margin-right: 10px;
}


.button-secondary:hover {
    cursor: pointer;
    background-color: var(--light-secondary-color);
    opacity: 0.8;
    color: white;
}

/* about section appears here */
.about-section {
    background-color: var(--dark-primary-color);
    /* margin:20px 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    

}

.about-section-profile {
    margin: 40px 0px;
    flex: 0.3;
}

.about-section-text {
    /* margin:40px 0px; */
    color: white;
    

    /* padding:0px;
    flex:0.7; */
}

.about-section-content hr {
    height: 3px;
    width: 90px;
    background-color: var(--light-secondary-color);
    border: none;
    margin: 5px 0 5px 0;
}
.about-section-content{
    margin:10px 0 10px 0;
    display: flex;
    flex-direction: column;
    color: var(--light-secondary-color);
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 70%;
}
.about-section-content h2>span{
    color:white;
}
.about-section-content p{
    text-align: justify;
    text-justify: inter-word;
    color: gray;
}
.about-section-list-items{
    margin:10px 0 10px 0;
    text-decoration: none;
    color: gray;
    list-style: none;
    text-align: justify;
}

.about-section-list-items li>i{
    color:var(--light-secondary-color);
    padding-right: 5px;
}

.about-section-list-items a {
    padding-top:8px;
    text-decoration: none;
    color: gray;
    
}
.about-section-list-items a:hover{
    color:white;
}
.about-section-list-items a li>strong{
    color:var(--light-secondary-color);
}
.about-section-content span{
    color: var(--light-secondary-color);
    
}

/* skill section appears here */
.skill-section {
    background-color: var(--dark-primary-color);
    opacity: 0.95;
    height: 400px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-section-heading {
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-weight: bolder;
}
.skill-section-heading h1>span{
    color:var(--light-secondary-color);
}

.skill-section-images {
    display: flex;
}

.skill-section-images img {
    width: 150px;
    height: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid var(--light-secondary-color);
    padding: 10px;
    border-radius: 8px;
}

.skill-section-images img:hover {
    cursor: pointer;
}

/* contact section appears here */
.contact-section {
    background-color: var(--dark-primary-color);

    padding: 60px;
}

.contact-section h1 {
    color: white;
    font-weight: bolder;
    padding-bottom: 20px;
    text-align: center;
}
.contact-section h1>span{
    color:var(--light-secondary-color);
}

form div {
    display: flex;
    justify-content: center;
    margin: 8px;
}

form div input,
textarea {
    border: none;
    outline: none;
    padding: 10px;
    width: 500px;
    border-radius: 5px;
    background-color: white;
    
    font-weight: bolder;
}

.contact-section-form {
    margin-bottom: 30px;

}
.contact-section-button-primary{
    background-color: var(--dark-primary-color);
    border: none;
    padding:10px;
    color: var(--dark-primary-color);
    background-color: var(--light-secondary-color);
    border-radius: 5px;
}
.contact-section-button-primary:hover{
    cursor:pointer;
   color:white;
   
   
}

.contact-section-button {
    text-align: center;
    border-radius: 10px;

}
.contact-section-button:hover{
    color:#000;
}
.contact-section-form form div>textarea:hover {
    background-color: var(--light-secondary-color);

}

.contact-section-form form div>input:hover {
    background-color: var(--light-secondary-color);
}

/* footer section appears here */
footer {
    background-color: var(--dark-primary-color);
    opacity: 0.95;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

footer h4>a {
    margin-top: 20px;
    text-decoration: none;
}

footer span {
    padding:0px 10px;
    color: var(--light-secondary-color);
    font-weight: 700;
}
footer span:hover{
    color:gray
}

/* media queries */
@media  screen and (max-width:600px) {
    .header-section {
        flex-direction: column;
        padding:15px 0px;
    }

    
    .header-section-menu ul {
        margin: 15px 0 15px 0;
    }
    .header-section-menu ul li>a {
        
        padding: 5px;
        font-weight: 100;
        margin: 5px 10px;
    
    }
    .header-section-button {
        margin-top: 5px;
        text-align: center;
        
    }
    .header-section-button-primary{
        font-weight: 500;
        padding: 6px;
       
    
    }

    .home-section {
        padding: 0 10px;
    }

    .about-section {
        flex-direction: column;
    }

    /* .about-section-profile {
        margin-left: 50px;

    } */
    .about-section-content{
        width: 80%;
    }
    .about-section-content h2,p{
        font-weight: 500;
    }
    .about-section-list-items{
        font-weight: 400; 
       text-align: start;
    }
    

    .about-section-text {
        margin: 20px 20px 0 0px;
        padding: 10px;


    }

    .about-section-address a {
        display: flex;
        text-decoration: none;
    }

    .skill-section {
       
        height: auto;
    }
    .skill-section-images{
        display: flex;
        flex-direction: column;
    }
    .contact-section{
        padding: 30px 20px;
    }
    form div input,
textarea {
   
    padding: 10px ;
    width: full;
   
}


    
   
    .footer-section-content h4 {
        font-weight:200;
        padding:20px 20px;
        text-align: center;
        
    }
}

@media only screen and (max-width: 768px){
    .header-section-logo {
        font-weight: 400;
       
    }
    .header-section-menu ul {
        margin: 10px 0 10px 0;
    }
    .header-section-menu ul li>a {
       
        padding: 10px;
        font-weight: 400;
        margin: 50px 10px;
    
    }
    .skill-section-images img{
        width: 125px;
        height: 125px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 25px;
        margin-left: 25px;
    }

}
